---
import BaseHead from "../components/BaseHead.astro";
import Meaning from "../components/Meaning.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Connection from "../components/Connection.astro";
const img = "/pocketjoke.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Connection />
      <Meaning />
      <div class="finish-and-start">@Apr 1, 2023</div>
      <img src={img} />
    </main>
    <style>
      body {
        font-family: helvetica, sans-serif;
        padding: 20px;
      }

      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 600px;
      }

      .finish-and-start {
        padding-bottom: 60px;
      }
    </style>
  </body>
</html>
