---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import MeaningLink from "../components/MeaningLink.astro";

type Props = CollectionEntry<"future">["data"];

const { title, description, heroImage } = Astro.props;
---

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <main class="future-post">
    <MeaningLink />
    <article>
      <h1>{title}</h1>
      <img src={heroImage} alt="everything-everywhere-allatonce" />
    </article>
  </main>
</body>
